html
{
  display: table;
  margin: auto;
}
body
{
  display: table-cell;
  vertical-align: middle;
  background-color: #272822;
  color: #c5b99c;
  font-family: 'Quicksand', sans-serif;
}
.game
{
  max-width: 650px;
}
.wrapper
{
  display:table;
}
.contact
{
  display:table-cell;
  vertical-align: middle;
  max-width:320px;
  padding: 5px;
}
@media (orientation:landscape)
{
  .projetos
  {
    height: 100vh; /* percent relative to viewport height */
    float: left;
    overflow-y: scroll;
  }
}
video
{
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  -moz-user-select: none;
}
video:focus
{
  outline-width: 0;
}
::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    background-color: #323327;
    border-radius: 3px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #424337;
}
@media (orientation: portrait)
{
  .wrapper
  {
    display:inline-block;
  }
  .projetos
  {
    overflow-y: inherit;
  }
}
